{% extends "__base__.html" %}

{% block content %}
    <br/>
    <div id="password-reset">
        <form action="" method="post"class="form-large">
            <div id="small-fields">
                {% if form.email.errors %}{{ form.email.html_error_list }}{% endif %}
                <p><label for="id_email">E-mail: </label> {{ form.email }} 
                {% if form.email.errors %}*** {{ form.email.errors|join:", " }}{% endif %}</p>
                <input type="submit" value="Reset"  class="submit-button"/>
            </div>
        </form>
    </div>
{% endblock %}
