{% extends "__base__.html" %}

{% load model_tags %}

{% block content %}
<br/>
<span>Popular</span> | <a href="/recent/">Most Recent</a> 
<br/><br/>

<h2>What is Zenopsis?</h2>
<p>Zenopsis is a place where you can write a short synopsis of anything on the web, from a major news article to an 
    obscure web page.  The Zenopsis <a href="/members/">community</a> determines what is a great synopsis through the democratic process of votes, the more votes
    the higher and longer it stays on the <a href="/popular/"> front page</a>.
</p>
<br/>

<h3>What is a synopsis?</h3>

<p>
     A synopsis is primarily a condensation, an outline or a short presentation of an article, of an essay or of a book.
</p>
<p>
     A synopsis is not a list of opinions, or an examination of the feelings and/or conscious states, e.g. likes, dislikes, preferences, annoyances, etc., of the writer of the synopsis.
</p>
<p>
    If the writer wants to addend his or her reactions, he or she must take care to explain all the relevant points in the original article reacted to.

</p>
<br/>

{% endblock %}


