{% extends "__base__.html" %}

{% load model_tags %}

{% block content %}
<br/>
<span>Popular</span> | <a href="/recent/">Most Recent</a> 
<br/><br/>
<h2>Terms of Service</h2>

<h3>PLEASE READ VERY CAREFULLY THESE TERMS AND CONDITIONS AND THE FAQ BEFORE REGISTERING FOR AN ACCOUNT AT Zenopsis.com. 
CREATION OF AN ACCOUNT INDICATES THAT YOU ACCEPT THESE TERMS AND CONDITIONS. IF YOU DO NOT ACCEPT THESE TERMS AND CONDITIONS, 
PLEASE DO NOT CREATE AN ACCOUNT.</h3>
<ol>
<li> 
  Your account at Zenopsis.com may be terminated at any time, for any reason. Zenopsis.com is under no obligation to you 
  to maintain your account for any period of time.
</li>
<li>
  Your account is subject to immediate deletion if you are suspected of gaming the site in any way. 
  Gaming the site includes (but is not limited to) through various means defeating the sites measures against allowing 
  multiple votes for the same content.
</li>
<li>
   It is a violation of Zenopsis.com terms of service to post pornographic or non family 
   friendly content, or links to such content. Our goal is to be a family friendly site, so please take this seriousley. 
   Violating content will be removed as soon as it is noticed, and your account may be terminated.
</li>
<li>
   You agree not to falsely click any ads; specifically, do not engage in any plan to defraud Google via false ad clicks.
</li>
<li>
    These terms will be updated from time to time, and Zenopsis.com is under no obligation to notify you of such updates.
</li>
</ol>

<br/>

{% endblock %}


